// Lists the color palette used for the project.

$color-primary: #3F51B5;
$color-primary-dark: #303F9F;
$color-primary-light: #C5CAE9;

$color-accent: #FF5722;
$color-icon: #FFFFFF;

$color-text-primary: #5B5B5B;
$color-text-secondary: #727272;

$color-divider: #B6B6B6;