$screen-width-s: 320px;
$screen-width-m: 480px;
$screen-width-l: 768px;
$screen-width-xl: 1024px;

$font-size-xsmall: 10px;
$font-size-small: 12px;
$font-size-medium: 14px;
$font-size: 16px;
$font-size-large: 18px;
$font-size-xlarge: 24px;