@mixin text-overflow($overflow: ellipsis) {
  overflow: hidden;
  text-overflow: $overflow;
  white-space: nowrap;
}

@mixin clearfix() {
  *zoom: 1;
  &:before,
  &:after {
    display: table;
    content: "";
    // Fixes Opera/contenteditable bug:
    // http://nicolasgallagher.com/micro-clearfix-hack/#comment-36952 …
    line-height: 0;
  }
  &:after {
    clear: both;
  }
}

.clearfix {
  @include clearfix();
}

@mixin respond-to($media) {
  @if $media == xsmall {
    @media only screen and (max-width: $screen-width-s) {
      @content;
    }
  }
  @if $media == small {
    @media only screen and (min-width: $screen-width-s) and (max-width: $screen-width-m - 1) {
      @content
    }
  } @else if $media == medium {
    @media only screen and (min-width: $screen-width-m) and (max-width: $screen-width-l - 1) {
      @content;
    }
  } @else if $media == large {
    @media only screen and (min-width: $screen-width-l) and (max-width: $screen-width-xl - 1) {
      @content;
    }
  } @else if $media == xlarge {
    @media only screen and (min-width: $screen-width-xl) {
      @content;
    }
  }
}

@mixin rounded($radius: 2px) {
  border-radius: $radius;
}

@mixin  rounded-top($radius: 5px){
  border-top-left-radius: $radius;
  border-top-right-radius: $radius;
}

@mixin  rounded-bottom($radius: 5px){
  border-bottom-left-radius: $radius;
  border-bottom-right-radius: $radius;
}

@mixin center(){
  margin: 0 auto;
}

@mixin transparency($opacity: 0.5) {
  opacity: $opacity;
  -ms-filter: "progid:http://DXImageTransform.Microsoft .Alpha(Opacity = #{$opacity * 100})";
}

@mixin flexbox() {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin order($val) {
  -webkit-box-ordinal-group: $val;
  -moz-box-ordinal-group: $val;
  -ms-flex-order: $val;
  -webkit-order: $val;
  order: $val;
}

@mixin flex($values) {
  -webkit-box-flex: $values;
  -moz-box-flex: $values;
  -webkit-flex: $values;
  -ms-flex: $values;
  flex: $values;
}